<!-- #layout name=default -->

<div id="main" class="clearfix">
  <div class="col-md-8 col-md-offset-2">
    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Securities</div>
      </legend>

      <div class="form-horizontal">
        <div class="form-group" style="display: flex; align-items: center">
            
          <label class="control-label col-md-2">Contact name</label>
          <div class="col-md-4">
            <label class="control-label">{{order.consignee.name}}</label>
          </div>

          <label class="control-label col-md-2">Contact phone</label>
          <div class="col-md-4">
            <label class="control-label">{{order.consignee.phone}}</label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<script>
  Kooboo.loadJS(["/_Admin/Scripts/Kooboo/Guid.js"]);
</script>

<script>
  new Vue({
    el: "#main",
  });
</script>
