<!-- #layout name=blank -->
<div id="app">
  <div class="page-header">
    <h1 class="title">OpenApis</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a class="btn green navbar-btn" @click="create">Create</a>
      <a
        class="btn red navbar-btn"
        v-show="selectedRows.length>0"
        @click="onDelete"
        >Delete</a
      >
    </div>
  </div>
  <kb-table :data="model" show-select :selected.sync="selectedRows">
    <kb-table-column :label="Kooboo.text.common.name">
      <template v-slot="row">
        {{row.name}}
      </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.common.type">
      <template v-slot="row">
        <span class="label label-sm green">{{row.type}}</span>
      </template>
    </kb-table-column>

    <kb-table-column label="URL">
      <template v-slot="row"> {{row.url?row.url:'-'}} </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.common.lastModified">
      <template v-slot="row">
        <span> {{ new Date(row.lastModified).toDefaultLangString() }} </span>
      </template>
    </kb-table-column>

    <kb-table-column align="right" width="200px">
      <template v-slot="row">
        <a class="btn blue" @click.stop="showAuthorize(row)">Authorize</a>
        <a class="btn blue" @click.stop="edit(row)">Edit</a>
      </template>
    </kb-table-column>
  </kb-table>
  <div>
    <kb-openapi-modal v-model="showModal" :id="selectedId" @ok="getList" />
  </div>

  <div>
    <kb-authorize-modal
      v-model="showAuthorizeModal"
      :id="selectedId"
      @ok="getList"
    />
  </div>
</div>

<script>
  Kooboo.loadJS([
    "/_Admin/Scripts/components/kbBreadcrumb.js",
    "/_Admin/Scripts/components/kbTable.js",
    "/_Admin/Scripts/components/kbForm.js",
    "/_Admin/Scripts/lib/bootstrap-switch/bootstrap-switch.min.js",
    "/_Admin/Scripts/components/kbSwitch.js",
    "/_Admin/Scripts/components/openApi/kb-authorize-modal.js",
    "/_Admin/Scripts/components/openApi/kb-openapi-modal.js",
  ]);

  Kooboo.loadCSS([
    "/_Admin/Scripts/lib/bootstrap-switch/bootstrap-switch.min.css",
  ]);

  new Vue({
    el: "#app",
    data: function () {
      var me = this;
      return {
        breads: [
          {
            name: "SITES",
          },
          {
            name: "DASHBOARD",
          },
          {
            name: "OpenApis",
          },
        ],
        model: [],
        selectedRows: [],
        showModal: false,
        modalData: null,
        showAuthorizeModal: false,
        selectedId: null,
      };
    },
    mounted() {
      this.getList();
    },
    methods: {
      onDelete: function () {
        var me = this;
        var confirmStr = Kooboo.text.confirm.deleteItems;

        var ids = this.selectedRows.map(function (m) {
          return m.id;
        });

        if (!confirm(confirmStr)) return;

        Kooboo.OpenApi.Deletes({
          ids: ids,
        }).then(function (res) {
          if (res.success) {
            me.getList();
            window.info.done(Kooboo.text.info.delete.success);
          } else {
            window.info.done(Kooboo.text.info.delete.fail);
          }
        });
      },
      getList() {
        Kooboo.OpenApi.getList().then((res) => {
          this.model = _.sortBy(res.model, [
            function (r) {
              return r.lastModified;
            },
          ]).reverse();
        });
      },
      showAuthorize(row) {
        this.selectedId = row.id;
        this.showAuthorizeModal = true;
      },
      edit(row) {
        this.selectedId = row.id;
        this.showModal = true;
      },
      create() {
        this.selectedId = null;
        this.showModal = true;
      },
    },
  });
</script>
