<!-- #layout name=default -->

<div id="main" class="clearfix">
  <div class="col-md-8 col-md-offset-2" v-if="cart">
    <fieldset class="margin-bottom-15 clearfix">
      <div class="form-horizontal">
        <table class="table" style="border-bottom: 1px solid #dddddd">
          <thead>
            <th>
              <a class="btn btn-ms green" @click="showProductModal=true"
                >Add Product</a
              ></th
            >
            <th>Product</th>
            <th>Specifications</th>
            <th>Promotions</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Stock</th>
            <th></th>
          </thead>
          <tbody v-if="cart">
            <tr
              v-for="item in cart.items"
              :key="item.id"
              :style="{backgroundColor:item.quantity>item.stock?'#ffe7e7':''}"
            >
              <td
                ><input
                  type="checkbox"
                  v-model="item.selected"
                  @change="changeItem(item.id)"
              /></td>
              <td>{{item.productName}}</td>
              <td>
                {{ item.specifications.map(m=>`[${m.key}:${m.value}]`).join(' ')
                }}
              </td>
              <td>
                <div>
                  <span
                    class="label label-success"
                    v-for="item in item.promotions"
                    :key="item.key"
                    style="margin-right: 5px"
                    >{{item.value}}</span
                  >
                </div>
              </td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>
                <div>
                  <template v-if="item.amount!=item.discountAmount">
                    <span>(</span>
                    <s>{{item.amount}}</s>
                    <span>)</span>
                    <span>{{item.discountAmount}}</span>
                  </template>
                  <template v-else>{{item.amount}}</template>
                </div>
              </td>
              <td>{{item.stock}}</td>
              <td style="text-align: right">
                <a class="btn red" @click.stop="removeItem(item.id)">Remove</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div style="display: flex; align-items: center">
          <span>Promotions</span>
          <span style="margin-right: 10px">:</span>
          <span
            class="label label-success"
            v-for="item in cart.promotions"
            :key="item.key"
            style="margin-right: 5px"
            >{{item.value}}</span
          >
        </div>
        <div style="display: flex; align-items: center">
          <span>Total amount</span>
          <span style="margin-right: 10px">:</span>
          <template v-if="cart.amount!=cart.discountAmount">
            <span>(</span>
            <s>{{cart.amount}}</s>
            <span>)</span>
            <span>{{cart.discountAmount}}</span>
          </template>
          <template v-else>{{cart.amount}}</template>
        </div>
      </div>
    </fieldset>

    <div class="page-buttons">
      <a class="btn green" @click="order">Place an order</a>
      <a class="btn gray">Cancel</a>
    </div>
  </div>

  <kb-selector-modal
    v-model="showProductModal"
    :list="products"
    @ok="productSelected"
    :show-header="false"
    :multi-select="false"
  ></kb-selector-modal>

  <kb-sku-modal
    v-model="showSkuModal"
    :id="addProductId"
    @ok="skuSelected"
  ></kb-sku-modal>
</div>

<script>
  Kooboo.loadJS([
    "/_Admin/Scripts/lib/uuidv3.min.js",
    "/_Admin/Scripts/Kooboo/Guid.js",
    "/_Admin/Scripts/components/ECommerce/kb-selector-modal.js",
    "/_Admin/Scripts/components/ECommerce/kb-sku-modal.js",
  ]);
</script>
<script src="/_Admin/View/ECommerce/Cart.js"></script>
