<!-- #layout name=default -->

<div id="main" class="clearfix">
  <div class="col-md-8 col-md-offset-2">
    <fieldset class="margin-bottom-15 clearfix">
      <div class="form-horizontal">
        <table class="table">
          <thead>
            <th><input type="checkbox" /></th>
            <th>Product</th>
            <th>Specifications</th>
            <th>Price</th>
            <th>quantity</th>
            <th></th>
          </thead>
          <tbody v-if="cart">
            <tr v-for="item in cart.items" :key="item.id">
              <td><input type="checkbox" /></td>
              <td>{{item.productName}}</td>
              <td>
                {{item.specifications.map(m=>`[${m.key}:${m.value}]`).join(' ')}}
              </td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div>
          <a class="btn green" @click="showProductModal=true">Add Product</a>
        </div>
      </div>
    </fieldset>

    <div class="page-buttons">
      <a class="btn green" @click="order">Place an order</a>
      <div class="btn-group dropup">
        <button class="btn green" style="margin: 0" @click="saveAndReturn"
          >Save &amp; Return</button
        >
        <a
          class="btn green dropdown-toggle"
          data-toggle="dropdown"
          style="margin: 0; min-width: auto"
        >
          <i class="fa fa-angle-up"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="javascript:;" @click="save">Save</a>
          </li>
        </ul>
      </div>
      <a class="btn gray">Cancel</a>
    </div>
  </div>

  <kb-selector-modal
    v-model="showProductModal"
    :list="selectorProducts"
    @ok="productSelected"
  />
</div>

<script>
  Kooboo.loadJS([
    "/_Admin/Scripts/lib/uuidv3.min.js",
    "/_Admin/Scripts/Kooboo/Guid.js",
    "/_Admin/Scripts/components/ECommerce/kb-selector-modal.js",
  ]);
</script>
<script src="/_Admin/View/ECommerce/Cart.js"></script>
