<!-- #layout name=blank-->

<div id="app">
  <div class="page-header">
    <h1 class="title">Product categories</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>

  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a class="btn green navbar-btn" @click="add">Add new category</a>
      <a class="btn red navbar-btn" v-if="selectedRows.length" @click="deletes"
        >Delete</a
      >
    </div>
  </div>

  <kb-table v-if="list" :data="list" show-select :selected.sync="selectedRows">
    <kb-table-column :label="Kooboo.text.common.name" prop="name">
    </kb-table-column>

    <kb-table-column label="Type">
      <template v-slot="row"> {{row.type}} </template>
    </kb-table-column>

    <kb-table-column label="Rules">
      <template v-slot="row"> </template>
    </kb-table-column>

    <kb-table-column label="Product count">
      <template v-slot="row">{{row.productCount}}</template>
    </kb-table-column>

    <kb-table-column align="right" width="100px">
      <template v-slot="row">
        <a class="btn blue" @click.stop="edit(row.id)"
          >{{ Kooboo.text.common.setting }}</a
        >
      </template>
    </kb-table-column>
  </kb-table>

  <div
    v-kb-modal="showModal"
    class="modal fade"
    data-backdrop="static"
    data-keyboard="fasle"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button @click="showModal=false" class="close">
            <i class="fa fa-close"></i>
          </button>
          <h4 class="modal-title">Create</h4>
        </div>
        <div class="modal-body" v-if="showModal">
          <kb-form :data="editData">
            <kb-form-item>
              <label class="col-sm-3 control-label">Name</label>
              <div class="col-sm-9">
                <input class="form-control" v-model="editData.name" />
              </div>
            </kb-form-item>
            <kb-form-item>
              <label class="col-sm-3 control-label">Type</label>
              <div class="col-sm-9">
                <select v-model="editData.type" class="form-control">
                  <option value="Manual" key="Manual">Manual</option>
                  <option value="Auto" key="Auto">Auto</option>
                </select>
              </div>
            </kb-form-item>
            <kb-form-item v-if="editData.type=='Manual'">
              <label class="col-sm-3 control-label">Products</label>
              <div class="col-sm-9">
                <button
                  class="btn"
                  v-for="item in selectedProducts"
                  :title="item.value"
                  @click="editData.products=editData.products.filter(f=>f!=item.key)"
                >
                  <span
                    style="
                      display: inline-flex;
                      max-width: 100px;
                      overflow: hidden;
                    "
                  >
                    {{item.value}}
                  </span>
                  <i class="fa fa-close"></i>
                </button>
                <button class="btn" @click="showSelectorModal=true">
                  <i class="fa fa-plus"></i
                ></button>
              </div>
            </kb-form-item>
            <kb-form-item v-if="editData.type=='Auto'">
              <label class="col-sm-3 control-label">Matcher</label>
              <div class="col-sm-9">
                <kb-rule-editor v-if="defines" :defines="defines" :rule="editData.rule">
              </div>
            </kb-form-item>
          </kb-form>
        </div>
        <div class="modal-footer">
          <button class="btn green" @click="save">Save</button>
          <button @click="showModal=false" class="btn gray">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <kb-selector-modal
    v-model="showSelectorModal"
    :list="selectorProducts"
    @ok="productSelected"
    show-select
    :show-header="false"
  />
</div>
<script>
  (function () {
    Kooboo.loadJS([
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbForm.js",
      "/_Admin/Scripts/components/ECommerce/kb-selector-modal.js",
      "/_Admin/Scripts/components/ECommerce/kb-rule-editor.js",
    ]);
  })();
</script>
<script src="/_Admin/View/ECommerce/Categories.js"></script>
