<!-- #layout name=blank-->

<div id="app">
  <div class="page-header">
    <h1 class="title">Customers</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>

  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a class="btn green navbar-btn" @click="registerCustomer"
        >Add new customer</a
      >
    </div>
  </div>

  <kb-table v-if="list" :data="list">
    <kb-table-column :label="Kooboo.text.common.username" prop="userName">
    </kb-table-column>
    <kb-table-column :label="Kooboo.text.common.Email">
      <template v-slot="row">
        <template v-if="row.email"> {{row.email}} </template>
        <template v-else>-</template>
      </template>
    </kb-table-column>
    <kb-table-column :label="Kooboo.text.common.phone">
      <template v-slot="row">
        <template v-if="row.phone"> {{row.phone}} </template>
        <template v-else>-</template>
      </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.commerce.createTime">
      <template v-slot="row">
        {{new Date(row.createTime).toDefaultLangString()}}
      </template>
    </kb-table-column>

    <kb-table-column align="right" width="100px">
      <template v-slot="row">
        <a class="btn blue" :href="cartPage(row.id)" target="_blank">
          <span>Cart</span>
          <span>({{row.cart}})</span>
         </a>
      </template>
    </kb-table-column>
  </kb-table>

  <div
    v-kb-modal="showRegisterModal"
    class="modal fade"
    data-backdrop="static"
    data-keyboard="fasle"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button @click="showRegisterModal=false" class="close">
            <i class="fa fa-close"></i>
          </button>
          <h4 class="modal-title">Create</h4>
        </div>
        <div class="modal-body" v-if="showRegisterModal">
          <kb-form :data="registerModel">
            <kb-form-item>
              <label class="col-sm-3 control-label">UserName</label>
              <div class="col-sm-9">
                <input class="form-control" v-model="registerModel.userName" />
              </div>
            </kb-form-item>
            <kb-form-item>
              <label class="col-sm-3 control-label">Password</label>
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="password"
                  v-model="registerModel.password"
                />
              </div>
            </kb-form-item>
            <kb-form-item>
              <label class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input class="form-control" v-model="registerModel.email" />
              </div>
            </kb-form-item>
            <kb-form-item>
              <label class="col-sm-3 control-label">Phone</label>
              <div class="col-sm-9">
                <input class="form-control" v-model="registerModel.phone" />
              </div>
            </kb-form-item>
          </kb-form>
        </div>
        <div class="modal-footer">
          <button class="btn green" @click="saveRegister">Save</button>
          <button @click="showRegisterModal=false" class="btn gray"
            >Cancel</button
          >
        </div>
      </div>
    </div>
  </div>

  <kb-pager
    :page-nr="pager.pageNr"
    :total-pages="pager.totalPages"
    @change="changePage"
  ></kb-pager>
</div>
<script>
  (function () {
    Kooboo.loadJS([
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbForm.js",
      "/_Admin/Scripts/components/kbPager.js",
    ]);
  })();
</script>
<script src="/_Admin/View/ECommerce/Customers.js"></script>
