<!-- #layout name=blank-->

<div id="app">
  <div class="page-header">
    <h1 class="title">Orders</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>

  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a class="btn green navbar-btn">Search</a>
    </div>
  </div>

  <kb-table v-if="list" :data="list">
    <kb-table-column label="Create time">
      <template v-slot="row"> {{row.createTime}} </template>
    </kb-table-column>

    <kb-table-column label="Amount">
      <template v-slot="row"> {{row.amount}} </template>
    </kb-table-column>

    <kb-table-column label="Payment method">
      <template v-slot="row"> {{row.paymentMethod}} </template>
    </kb-table-column>

    <kb-table-column label="Payment time">
      <template v-slot="row"> {{row.caymentTime}} </template>
    </kb-table-column>

    <kb-table-column label="Item count">
      <template v-slot="row"> {{row.itemCount}} </template>
    </kb-table-column>

    <kb-table-column label="State">
      <template v-slot="row"> {{row.state}} </template>
    </kb-table-column>

    <kb-table-column align="right" width="100px">
      <template v-slot="row">
        <a class="btn blue" :href="orderDetail(row.id)" target="_blank"
          >Detail</a
        >
      </template>
    </kb-table-column>
  </kb-table>

  <kb-pager
    :page-nr="pager.pageNr"
    :total-pages="pager.totalPages"
    @change="changePage"
  ></kb-pager>
</div>
<script>
  (function () {
    Kooboo.loadJS([
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbPager.js",
    ]);
  })();
</script>
<script src="/_Admin/View/ECommerce/Orders.js"></script>
