<!-- #layout name=default -->

<div id="main" class="clearfix">
  <div class="col-md-8 col-md-offset-2" v-if="order">
    <fieldset class="margin-bottom-15 clearfix" v-if="order">
      <legend>
        <div class="pull-left">Order info</div>
      </legend>
      <div class="form-horizontal">
        <div class="form-group" style="display: flex; align-items: center">
          <label class="control-label col-md-2">Order id</label>
          <div class="col-md-4">
            <label class="control-label">{{order.id}}</label>
          </div>
          <label class="control-label col-md-2">Customer</label>
          <div class="col-md-4">
            <label class="control-label">{{order.customer}}</label>
          </div>
        </div>

        <div class="form-group" style="display: flex; align-items: center">
          <label class="control-label col-md-2">Order state</label>
          <div class="col-md-4">
            <label class="control-label">{{order.state}}</label>
          </div>

          <label class="control-label col-md-2">Create time</label>
          <div class="col-md-4">
            <label class="control-label">{{order.createTime}}</label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Items</label>
          <div class="col-md-10">
            <table class="table table-bordered" style="text-align: center">
              <thead>
                <th style="text-align: center">Index</th>
                <th style="text-align: center">Product</th>
                <th style="text-align: center">Specifications</th>
                <th style="text-align: center">Price</th>
                <th style="text-align: center">Quantity</th>
                <th style="text-align: center">Item state</th>
              </thead>
              <tr v-for="(item,index) in order.items">
                <td>{{index+1}}</td>
                <td>{{item.productName}}</td>
                <td> {{specificationsDisplay(item.specifications)}} </td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.state}}</td>
              </tr>
            </table>
          </div>
        </div>
        
        <div class="form-group" style="display: flex; align-items: center">
          <label class="control-label col-md-2">Total amount</label>
          <div class="col-md-10">
            <label class="control-label">{{order.amount}}</label>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Delivery note</div>
      </legend>
      <div class="form-horizontal">
        <div class="form-group" style="display: flex; align-items: center">
          <label class="control-label col-md-2">Contact name</label>
          <div class="col-md-4">
            <label class="control-label">{{order.consignee.name}}</label>
          </div>

          <label class="control-label col-md-2">Contact phone</label>
          <div class="col-md-4">
            <label class="control-label">{{order.consignee.phone}}</label>
          </div>
        </div>

        <div class="form-group" style="display: flex; align-items: center">
          <label class="control-label col-md-2">Address</label>
          <div class="col-md-10">
            <label class="control-label"
              >{{`${order.consignee.county} ${order.consignee.state}
              ${order.consignee.city} ${order.consignee.address}`}}</label
            >
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Payment way</div>
      </legend>
      <div class="form-horizontal">
        <div class="form-group" style="display: flex; align-items: center">
          <label class="control-label col-md-2">Payment Method</label>
          <div class="col-md-4">
            <label class="control-label">{{order.paymentMethod}}</label>
          </div>

          <label class="control-label col-md-2">Payment time</label>
          <div class="col-md-4">
            <label class="control-label">{{order.paymentTime}}</label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<script>
  Kooboo.loadJS([
    "/_Admin/Scripts/lib/uuidv3.min.js",
    "/_Admin/Scripts/Kooboo/Guid.js",
  ]);
</script>
<script src="/_Admin/View/ECommerce/Order.js"></script>
