<!-- #layout name=default -->
<div id="main" class="clearfix" v-cloak>
  <div class="col-md-8 col-md-offset-2">
    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Basic info</div>
        <!-- <kb-multilang-selector
          v-if="siteLangs"
          class="clearfix margin-bottom-5"
          :cultures="siteLangs.cultures"
          :default-culture="siteLangs.default"
        >
        </kb-multilang-selector> -->
      </legend>
    </fieldset>
    <fieldset class="fieldrow basic-info">
      <div class="row">
        <div class="col-sm-6">
          <label class="control-label pull-left">Order id</label>
          <div class="control-value">{{ model.id }}</div>
        </div>
        <div class="col-sm-6">
          <label class="control-label pull-left">Total amount</label>
          <div class="control-value">{{ model.totalAmount }}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <label class="control-label pull-left">Status</label>
          <div class="control-value">{{ model.status }}</div>
        </div>
        <div class="col-sm-6">
          <label class="control-label pull-left">Create Date</label>
          <div class="control-value">{{ model.createDate }}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <label class="control-label pull-left">Item total</label>
          <div class="control-value">{{ model.itemTotal }}</div>
        </div>
        <div class="col-sm-6">
          <label class="control-label pull-left">Shipping cost</label>
          <div class="control-value">{{ model.shippingCost }}</div>
        </div>
      </div>
    </fieldset>
    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Order items</div>
      </legend>
    </fieldset>
    <fieldset class="fieldrow">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th>Specification</th>
            <th>SKU</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in model.items" :key="item.productId">
            <td
              ><a :href="item.url" target="_blank">
                <img
                  :src="item.variants && item.variants.thumbnail"
                  class="variants-img"
                  :title="item.product.summary || item.productId"
                /> </a
            ></td>
            <td>{{ item.variants && item.variants.spec }}</td>
            <td>{{ item.variants && item.variants.sku }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.discount ? -item.discount.total : '' }}</td>
            <td>{{ item.itemTotal }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset class="margin-bottom-15 clearfix" v-if="model.orderAddress">
      <legend>
        <div class="pull-left">Order address</div>
      </legend>
    </fieldset>
    <fieldset class="fieldrow delivery-info" v-if="model.orderAddress">
      <kb-form
        :model="model"
        :rules="addressRules"
        ref="addressForm"
      >
        <div class="row">
          <kb-form-item prop="consignee" class="col-sm-6">
            <label class="control-label pull-left">Consignee</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.orderAddress.consignee"
              />
            </div>
          </kb-form-item>
          <kb-form-item prop="contactNumber" class="col-sm-6">
            <label class="control-label pull-left">Contact number</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.orderAddress.contactNumber"
              /> </div
          ></kb-form-item>
        </div>
        <div class="row">
          <kb-form-item prop="country" class="col-sm-6">
            <label class="control-label pull-left">Country</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.orderAddress.country"
              /> </div
          ></kb-form-item>
          <kb-form-item prop="city" class="col-sm-6"
            ><label class="control-label pull-left">City</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.orderAddress.city"
              /> </div
          ></kb-form-item>
        </div>
        <div class="row">
          <kb-form-item prop="postCode" class="col-sm-6">
            <label class="control-label pull-left">Postcode</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.orderAddress.postCode"
              /> </div
          ></kb-form-item>
          <kb-form-item prop="houseNumber" class="col-sm-6">
            <label class="control-label pull-left">House number</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.orderAddress.houseNumber"
              /> </div
          ></kb-form-item>
        </div>

        <div class="row">
          <kb-form-item prop="address" class="col-sm-6"
            ><label class="control-label pull-left">Address</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.orderAddress.address"
              /> </div
          ></kb-form-item>
          <kb-form-item prop="address2" class="col-sm-6"
            ><label class="control-label pull-left">Address2</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.orderAddress.address2"
              /> </div
          ></kb-form-item>
        </div>

        <div class="row row--bordered" v-if="isShipped">
          <kb-form-item prop="logisticsCompany" class="col-sm-6"
            ><label class="control-label pull-left">Logistics company</label>
            <div class="control-value">
              <select class="form-control" v-model="model.logisticsCompany">
                <option v-for="(item, index) in logistics" :key="index" :value="item.name">{{ item.displayName }}</option>
              </select>
              </div
          ></kb-form-item>
          <kb-form-item prop="logisticsNumber" class="col-sm-6"
            ><label class="control-label pull-left">Logistics number</label>
            <div class="control-value">
              <input
                type="text"
                class="form-control"
                v-model="model.logisticsNumber"
              /> </div
          ></kb-form-item>
        </div>
      </kb-form>
    </fieldset>

    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Customer info</div>
      </legend>
    </fieldset>
    <fieldset class="fieldrow basic-info" v-if="model.customer">
      <div class="row">
        <div class="col-sm-6">
          <label class="control-label pull-left">Email address</label>
          <div class="control-value">{{ model.customer.emailAddress }}</div>
        </div>
        <div class="col-sm-6">
          <label class="control-label pull-left">Telephone</label>
          <div class="control-value">{{ model.customer.telephone }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="control-label pull-left">First name</label>
          <div class="control-value">{{ model.customer.firstName }}</div>
        </div>
        <div class="col-sm-6">
          <label class="control-label pull-left">Last name</label>
          <div class="control-value">{{ model.customer.lastName }}</div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="page-buttons">
    <template v-if="isNewContent">
      <a href="javascript:;" class="btn green" @click="onContentSaveAndCreate"
        >Save &amp; Create</a
      >
      <a href="javascript:;" class="btn green" @click="onContentSaveAndReturn"
        >Save</a
      >
    </template>
    <template v-else>
      <a href="javascript:;" class="btn green" @click="onContentSave">Save</a>
      <a href="javascript:;" class="btn green" @click="onContentSaveAndReturn"
        >Save &amp; Return</a
      >
    </template>
    <a href="javascript:;" class="btn gray" @click="userCancel">Return</a>
  </div>
  <kb-media-dialog :data.sync="mediaDialogData"></kb-media-dialog>
</div>
<style>
  .control-label {
    width: 120px;
    text-align: right;
    margin-right: 20px;
  }
  .control-value {
    overflow: hidden;
  }
  .fieldrow,
  .fieldrow .row {
    margin-bottom: 10px;
  }
  .form-group .control-label {
    padding-top: 5px;
  }
  .variants-img {
    width: 80px;
    height: 80px;
  }
  .row--bordered {
    border-top: 1px solid #e5e5e5;
    padding-top: 25px;
  }
</style>
<script>
  (function () {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbMultilangSelector.js",
      "/_Admin/Scripts/components/kbForm.js",
      "/_Admin/Scripts/lib/jquery-ui-customized.js",
      "/_Admin/Scripts/kooboo/Guid.js",
    ]);
  })();
</script>
<script src="/_Admin/View/ECommerce/Order.js"></script>
