<!-- #layout name=default -->

<style>
  .options-container {
    display: flex;
    flex-wrap: wrap;
  }

  .options-container > * {
    margin: 5px;
  }
</style>
<div id="main" class="clearfix">
  <div class="col-md-8 col-md-offset-2">
    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Basic info</div>
      </legend>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-2">Title</label>
          <div class="col-md-10">
            <input class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Images</label>
          <div class="col-md-10"> </div>
        </div>
      </div>
    </fieldset>

    <fieldset
      class="margin-bottom-15 clearfix"
      v-if="category&&category.attributes.length>0"
    >
      <legend>
        <div class="pull-left">Category<span>Attributes</span></div>
      </legend>
      <div class="row">
        <template class="form-group" v-for="attribute in category.attributes">
          <label
            style="text-align: right;padding-top: 7px;"
            class="control-label col-md-2"
            :key="attribute.id"
            >{{attribute.name}}</label
          >
          <div class="col-md-4" :key="attribute.id" style="margin-bottom: 5px;">
            <input v-if="attribute.type==0" class="form-control" />
            <select v-if="attribute.type==1" class="form-control">
              <option
                v-for="option in attribute.options"
                :key="option.id"
                :value="option.id"
                >{{option.value}}</option
              >
            </select>
          </div>
        </template>
      </div>
    </fieldset>

    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Specifications</div>
      </legend>
      <div
        class="form-horizontal"
        v-for="specification in category.specifications"
        :key="specification.id"
      >
        <div class="form-group">
          <label class="control-label col-md-2">{{specification.name}}</label>
          <div class="col-md-8">
            <div v-if="specification.type==0" class="options-container">
              <button
                type="button"
                class="btn btn-sm"
                v-for="option in specification.options"
                :key="option.id"
                @click="rmoveItem(specification.options,option)"
              >
                {{option.value}}
                <i class="fa fa-close"></i>
              </button>
              <div style="display: inline-flex; align-items: center">
                <input
                  class="form-control"
                  style="display: inline; width: 80px; margin-right: 3px"
                  v-model="specification.editingItem"
                />
                <button
                  type="button"
                  class="btn btn-sm blue"
                  @click=" addOption(item)"
                >
                  <i class="fa fa-save"></i
                ></button>
              </div>
            </div>
            <div v-if="specification.type==1" class="options-container">
              <button
                type="button"
                class="btn btn-sm"
                v-for="option in specification.options"
                :key="option.id"
                style="display: flex; align-items: center"
              >
                <input
                  type="checkbox"
                  class="form-control"
                  style="width: 12px; height: 12px; margin-right: 5px"
                />
                <span>{{option.value}}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="page-buttons">
      <div class="btn-group dropup">
        <button class="btn green" style="margin: 0">Save &amp; Return</button>
        <a
          class="btn green dropdown-toggle"
          data-toggle="dropdown"
          style="margin: 0; min-width: auto"
        >
          <i class="fa fa-angle-up"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="javascript:;">Save</a>
          </li>
        </ul>
      </div>
      <a class="btn gray">Cancel</a>
    </div>
  </div>
</div>

<script>
  Kooboo.loadJS(["/_Admin/Scripts/Kooboo/Guid.js"]);
</script>
<script src="/_Admin/View/ECommerce/Product.js"></script>
