<!-- #layout name=blank-->
<style>
  .product-item {
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 10px;
    height: 80px;
  }
  .product-item:hover {
    background-color: rgba(221, 221, 221, 0.2);
  }

  .product-img {
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ddd;
  }
  .product-detail {
    box-sizing: border-box;
    flex: 1;
    padding: 0 10px;
  }
  .product-ctrl {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div id="app" v-cloak>
  <div class="page-header">
    <h1 class="title">Products management</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="btn-group navbar-btn"
        ><button data-toggle="dropdown" class="btn green" aria-expanded="false"
          ><span>Add product</span> <i class="fa fa-angle-down"></i
        ></button>
        <ul class="dropdown-menu">
          <li v-for="type in types" :key="type.id">
            <a href="javascript:;" @click="startAddProduct(type.id)"
              >{{type.name}}</a
            >
          </li>
          <li v-if="!types.length">
            <a href="javascript:;" @click="showModal=true"
              >Create a new type first</a
            >
          </li>
        </ul></div
      >
      <a class="btn red navbar-btn">Delete</a>
    </div>
  </div>
  <div class="product-item" v-for="product in list" :key="product.id">
    <div
      style="
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 10px;
      "
    >
      <input type="checkbox" />
    </div>
    <div
      class="product-img"
      :style="{backgroundImage:getPrimaryImg(product.images)}"
    ></div>
    <div class="product-detail">
      <p style="font-size: 15px">{{product.title}}</p>
      <div style="display: flex">
        <div style="flex: 1"><span>Status</span>:<span>{{product.stock}}</span></div>
        <div style="flex: 1"><span>Stock</span>:<span>{{product.stock}}</span></div>
        <div style="flex: 1"><span>Sales</span>:<span>{{product.sales}}</span></div>
      </div>
    </div>
    <div class="product-ctrl">
      <a class="btn blue" target="_blank" :href="editProduct(product)">Edit</a>
      <a class="btn btn-default" target="_blank">下架</a>
    </div>
  </div>
  <kb-pager
    :page-nr="pager.pageNr"
    :total-pages="pager.totalPages"
    @change="changePage"
  ></kb-pager>
  <kb-product-type-modal v-model="showModal" @ok="startAddProduct" />
</div>
<script>
  (function () {
    Kooboo.loadJS([
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbPager.js",
      "/_Admin/Scripts/components/ECommerce/kb-product-type-modal.js",
    ]);
  })();
</script>
<script src="/_Admin/View/ECommerce/Products.js"></script>
