<!-- #layout name=blank-->
<style>
  .product-img {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }

  .sku-item {
    height: 45px;
    display: flex;
    align-items: center;
    word-wrap: none;
    white-space: nowrap;
    overflow: hidden;
  }
</style>

<div id="app" v-cloak>
  <div class="page-header">
    <h1 class="title">Products management</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="btn-group navbar-btn"
        ><button data-toggle="dropdown" class="btn green" aria-expanded="false"
          ><span>Add product</span> <i class="fa fa-angle-down"></i
        ></button>
        <ul class="dropdown-menu">
          <li v-for="type in types" :key="type.key">
            <a href="javascript:;" @click="startAddProduct(type.key)"
              >{{type.value}}</a
            >
          </li>
          <li v-if="!types.length">
            <a href="javascript:;" @click="showModal=true"
              >Create a new type first</a
            >
          </li>
        </ul></div
      >
      <a
        class="btn red navbar-btn"
        v-show="selectedRows.length>0"
        @click="deletes"
        >Delete</a
      >
    </div>
  </div>
  <kb-table v-if="list" :data="list" show-select :selected.sync="selectedRows">
    <kb-table-column width="1px">
      <template v-slot="row">
        <div
          class="product-img"
          :style="{backgroundImage:getPrimaryImg(row.images)}"
        ></div>
      </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.common.title">
      <template v-slot="row"> {{row.title}} </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.common.type">
      <template v-slot="row"> {{row.typeName}} </template>
    </kb-table-column>

    <kb-table-column label="" width="1px">
      <template v-slot="row">
        <div
          class="sku-item"
          v-for="item in row.items"
          :key="item.id"
          :style="{color:item.enable?'#000':'#ddd'}"
        >
          <div
            v-if="item.image"
            class="product-img"
            :style="{backgroundImage:getPrimaryImg([item.image])}"
          ></div>
        </div>
      </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.commerce.specifications" width="1px">
      <template v-slot="row">
        <div class="sku-item" v-for="item in row.items" :key="item.id">
          <span
            v-if="item.specifications.length"
            :style="{color:item.enable?'#000':'#ddd'}"
          >
            {{item.specifications.map(m=>`[${m.key}:${m.value}]`).join('&nbsp')}}
          </span>
          <span v-else>-</span>
        </div>
      </template>
    </kb-table-column>

    <kb-table-column label="SKU" width="1px">
      <template v-slot="row">
        <div
          class="sku-item"
          v-for="item in row.items"
          :key="item.id"
          :style="{color:item.enable?'#000':'#ddd'}"
        >
          <span v-if="item.name"> {{item.name}} </span>
          <span v-else>-</span>
        </div>
      </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.common.price" width="1px">
      <template v-slot="row">
        <div
          class="sku-item"
          v-for="item in row.items"
          :key="item.id"
          :style="{color:item.enable?'#000':'#ddd'}"
        >
          <span> {{item.price}} </span>
        </div>
      </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.commerce.stock" width="1px">
      <template v-slot="row">
        <div
          class="sku-item"
          v-for="item in row.items"
          :key="item.id"
          :style="{color:item.enable?'#000':'#ddd'}"
        >
          <span> {{item.stock}} </span>
        </div>
      </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.commerce.sales" width="1px">
      <template v-slot="row">
        <div
          class="sku-item"
          v-for="item in row.items"
          :key="item.id"
          :style="{color:item.enable?'#000':'#ddd'}"
        >
          <span> {{item.sale}} </span>
        </div>
      </template>
    </kb-table-column>

    <kb-table-column :label="Kooboo.text.commerce.status" width="50px" align="center">
      <template v-slot="row">
        <span
          class="label green"
          :class="row.enable?'green':'gray'"
          style="cursor: pointer"
        >
          <template v-if="row.enable">In stock</template>
          <template v-else>Drop off</template>
        </span>
      </template>
    </kb-table-column>

    <kb-table-column align="right" width="100px">
      <template v-slot="row">
        <a class="btn blue" target="_blank" :href="editProduct(row)">Edit</a>
      </template>
    </kb-table-column>
  </kb-table>

  <kb-pager
    :page-nr="pager.pageNr"
    :total-pages="pager.totalPages"
    @change="changePage"
  ></kb-pager>
  <kb-product-type-modal v-model="showModal" @ok="startAddProduct" />
</div>
<script>
  (function () {
    Kooboo.loadJS([
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbPager.js",
      "/_Admin/Scripts/components/ECommerce/kb-product-type-modal.js",
    ]);
  })();
</script>
<script src="/_Admin/View/ECommerce/Products.js"></script>
