<!-- #layout name=blank-->
<style>
  .product-img {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ddd;
  }

  .sku-item {
    height: 20px;
    display: flex;
    align-items: center;
  }
</style>

<div id="app" v-cloak>
  <div class="page-header">
    <h1 class="title">Products management</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="btn-group navbar-btn"
        ><button data-toggle="dropdown" class="btn green" aria-expanded="false"
          ><span>Add product</span> <i class="fa fa-angle-down"></i
        ></button>
        <ul class="dropdown-menu">
          <li v-for="type in types" :key="type.key">
            <a href="javascript:;" @click="startAddProduct(type.key)"
              >{{type.value}}</a
            >
          </li>
          <li v-if="!types.length">
            <a href="javascript:;" @click="showModal=true"
              >Create a new type first</a
            >
          </li>
        </ul></div
      >
      <a class="btn red navbar-btn">Delete</a>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <th style="width: 20px"><input type="checkbox" /></th>
      <th style="width: 80px"></th>
      <th>Title</th>
      <th>Specifications</th>
      <th>SKU</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Sale</th>
      <th style="width: 50px">Status</th>
      <th style="width: 100px"></th>
    </thead>
    <tbody>
      <tr v-for="product in list" :key="product.id">
        <td><input type="checkbox" /></td>
        <td>
          <div
            class="product-img"
            :style="{backgroundImage:getPrimaryImg(product.images)}"
          ></div>
        </td>
        <td> {{product.title}} </td>
        <td>
          <div>
            <div class="sku-item" v-for="item in product.items" :key="item.id">
              {{item.specifications.map(m=>`[${m.key}:${m.value}]`).join('&nbsp')}}
            </div>
          </div>
        </td>
        <td>
          <div>
            <div class="sku-item" v-for="item in product.items" :key="item.id">
              {{item.name}}
            </div>
          </div>
        </td>
        <td>
          <div>
            <div class="sku-item" v-for="item in product.items" :key="item.id">
              {{item.price}}
            </div>
          </div>
        </td>
        <td>
          <div>
            <div class="sku-item" v-for="item in product.items" :key="item.id">
              {{item.stock}}
            </div>
          </div>
        </td>
        <td>
          <div>
            <div class="sku-item" v-for="item in product.items" :key="item.id">
              {{item.sale}}
            </div>
          </div>
        </td>
        <td>
          <span
            class="label green"
            :class="product.enable?'green':'gray'"
            style="cursor: pointer"
          >
            <template v-if="product.enable">On</template>
            <template v-else>Off</template>
          </span>
        </td>
        <td>
          <div style="text-align: right">
            <a class="btn blue" target="_blank" :href="editProduct(product)"
              >Edit</a
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <kb-pager
    :page-nr="pager.pageNr"
    :total-pages="pager.totalPages"
    @change="changePage"
  ></kb-pager>
  <kb-product-type-modal v-model="showModal" @ok="startAddProduct" />
</div>
<script>
  (function () {
    Kooboo.loadJS([
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbPager.js",
      "/_Admin/Scripts/components/ECommerce/kb-product-type-modal.js",
    ]);
  })();
</script>
<script src="/_Admin/View/ECommerce/Products.js"></script>
