<!-- #layout name=default -->
<style>
  .images {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 5px 5px 0px;
    background-size: contain;
    position: relative;
  }
  .images i {
    color: #ddd;
  }

  .table-input {
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
<div id="main" class="clearfix">
  <div class="col-md-8 col-md-offset-2">
    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Basic info</div>
      </legend>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-2">Title</label>
          <div class="col-md-10">
            <input class="form-control" v-model="title" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Images</label>
          <div class="col-md-10" style="display: flex; flex-wrap: wrap">
            <div
              class="images"
              :class="{'primary-img':item.isPrimary}"
              v-for="(item,index) in images"
              :key="index"
              style="border: 1px #ddd solid"
              :style="{backgroundImage: imgUrlWrap(item.thumbnail),borderColor:item.isPrimary?'#00c249':'#ddd'}"
              @click="setIsPrimary(item)"
            >
              <i
                class="fa fa-close"
                style="
                  position: absolute;
                  top: 3px;
                  right: 3px;
                  color: rgb(136, 135, 135);
                "
                @click.stop="removeImage(item)"
              ></i>
            </div>
            <div
              class="images"
              @click="showMediaDialog"
              style="border: 1px #ddd dashed"
            >
              <i class="fa fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Description</label>
          <div class="col-md-10">
            <textarea
              v-model="description"
              v-kb-richeditor="richeditor"
              style="opacity: 0"
            ></textarea>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="margin-bottom-15 clearfix" v-if="attributes.length>0">
      <legend>
        <div class="pull-left">Category<span>Attributes</span></div>
      </legend>
      <div class="row">
        <template class="form-group" v-for="attribute in attributes">
          <label
            style="text-align: right; padding-top: 7px"
            class="control-label col-md-2"
            :key="attribute.id"
            >{{attribute.name}}</label
          >
          <div
            class="col-md-4"
            :key="attribute.id+'e'"
            style="margin-bottom: 5px"
          >
            <input
              v-if="attribute.type==0"
              v-model="attribute.value"
              class="form-control"
            />
            <select
              v-if="attribute.type==1"
              class="form-control"
              v-model="attribute.value"
            >
              <option
                v-for="option in attribute.options"
                :key="option.id"
                :value="option.id"
                >{{option.value}}</option
              >
            </select>
          </div>
        </template>
      </div>
    </fieldset>

    <fieldset class="margin-bottom-15 clearfix" v-if="specifications.length>0">
      <legend>
        <div class="pull-left">Specifications</div>
      </legend>
      <div class="form-horizontal">
        <div
          class="form-group"
          v-for="specification in specifications"
          :key="specification.id"
        >
          <label class="control-label col-md-2">{{specification.name}}</label>
          <div class="col-md-8">
            <template v-if="specification.type==0">
              <kb-options-editor
                :list.sync="specification.options"
                @update:list="rebuildSkus"
              />
            </template>
            <template v-if="specification.type==1">
              <div style="display: flex; flex-wrap: wrap">
                <button
                  type="button"
                  class="btn btn-sm"
                  v-for="option in specification.options"
                  :key="option.id"
                  style="
                    display: flex;
                    align-items: center;
                    margin: 5px 5px 5px 0;
                  "
                  @click.stop="switchOption(option)"
                >
                  <input
                    type="checkbox"
                    :checked="option.checked"
                    class="form-control"
                    style="width: 12px; height: 12px; margin: 0 5px"
                  />
                  <span>{{option.value}}</span>
                </button>
              </div>
            </template>
          </div>
        </div>
      </div>
      <table
        class="table table-bordered"
        style="margin-top: 15px; text-align: center"
        v-if="skus.length"
      >
        <thead>
          <tr>
            <td v-for="specification in specifications" :key="specification.id"
              >{{specification.name}}</td
            >
            <td style="width: 80px">Price</td>
            <td style="width: 80px">Tax</td>
            <td style="width: 80px">Stock</td>
            <td style="width: 120px">SKU</td>
            <td style="width: 80px">Status</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="sku in skus">
            <td v-for="item in sku.specifications">{{item.valueDisplay}}</td>
            <td
              ><input
                type="number"
                v-model.number="sku.price"
                class="table-input"
            /></td>
            <td
              ><input
                type="number"
                v-model.number="sku.tax"
                class="table-input"
            /></td>
            <td
              ><input
                type="number"
                v-model.number="sku.stock"
                class="table-input"
            /></td>
            <td><input v-model="sku.name" class="table-input" /></td>
            <td>
              <span
                v-if="sku.enable"
                class="label green"
                style="cursor: pointer"
                @click="sku.enable=false"
                >上架</span
              >
              <span
                v-else
                class="label gray"
                @click="sku.enable=true"
                style="cursor: pointer"
                >下架</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>

    <div class="page-buttons">
      <div class="btn-group dropup">
        <button class="btn green" style="margin: 0" @click="saveAndReturn"
          >Save &amp; Return</button
        >
        <a
          class="btn green dropdown-toggle"
          data-toggle="dropdown"
          style="margin: 0; min-width: auto"
        >
          <i class="fa fa-angle-up"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="javascript:;" @click="save">Save</a>
          </li>
        </ul>
      </div>
      <a class="btn gray" :href="productsUrl">Cancel</a>
    </div>

    <kb-media-dialog :data.sync="mediaDialogData"></kb-media-dialog>
    <kb-media-dialog :data.sync="richeditor.mediaDialogData"></kb-media-dialog>
  </div>
</div>

<script>
  Kooboo.loadJS([
    "/_Admin/Scripts/lib/uuidv3.min.js",
    "/_Admin/Scripts/Kooboo/Guid.js",
    "/_Admin/Scripts/components/kb-media-dialog.js",
    "/_Admin/Scripts/kooboo-web-editor/richEditor.min.js",
    "/_Admin/Scripts/components/tinymceMonaco/plugin.min.js",
    "/_Admin/Scripts/components/ECommerce/kb-options-editor.js",
  ]);
</script>
<script src="/_Admin/View/ECommerce/Product.js"></script>
