<!-- #layout name=default -->

<div id="main" class="clearfix">
  <div class="col-md-8 col-md-offset-2">
    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Basic info</div>
      </legend>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-2">Name</label>
          <div class="col-md-10">
            <input class="form-control" v-model="model.name" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Description</label>
          <div class="col-md-10">
            <textarea
              class="form-control"
              v-model="model.description"
            ></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Start time</label>
          <div class="col-md-4">
            <input
              type="datetime-local"
              class="form-control"
              v-model="model.startTime"
            />
          </div>
          <label class="control-label col-md-2">End time</label>
          <div class="col-md-4">
            <input
              type="datetime-local"
              class="form-control"
              v-model="model.endTime"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Priority</label>
          <div class="col-md-4">
            <input
              type="number"
              class="form-control"
              v-model.number="model.priority"
            />
          </div>
          <label class="control-label col-md-2">Exclusive</label>
          <div class="col-md-4">
            <kb-switch v-model="model.exclusive"></kb-switch>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Matcher</div>
      </legend>
      <div class="form-horizontal" v-for="(define,key) in defines">
        <div class="form-group">
          <label class="control-label col-md-2">{{key}}</label>
          <div class="col-md-10 col-lg-8">
            <kb-rule-editor
              :defines="define"
              :rule="model.rules[key]"
            ></kb-rule-editor>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="margin-bottom-15 clearfix">
      <legend>
        <div class="pull-left">Discount</div>
      </legend>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-2">Type</label>
          <div class="col-md-4">
            <select class="form-control" v-model="model.type">
              <option value="MoneyOff">Money off</option>
              <option value="PercentOff">Percent off</option>
            </select>
          </div>
          <label class="control-label col-md-2">Target</label>
          <div class="col-md-4">
            <select class="form-control" v-model="model.target">
              <option value="Order">Order</option>
              <option value="OrderItem">Order item</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2"></label>
          <div class="col-md-10">
            <div class="input-group" style="width: 120px">
              <span class="input-group-addon" v-if="model.type=='MoneyOff'">-</span>
              <input
                type="text"
                class="form-control"
                v-model.number="model.discount"
              />
              <span class="input-group-addon" v-if="model.type=='PercentOff'">%</span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="page-buttons">
      <div class="btn-group dropup">
        <button class="btn green" style="margin: 0" @click="saveAndReturn"
          >Save &amp; Return</button
        >
        <a
          class="btn green dropdown-toggle"
          data-toggle="dropdown"
          style="margin: 0; min-width: auto"
        >
          <i class="fa fa-angle-up"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="javascript:;" @click="save">Save</a>
          </li>
        </ul>
      </div>
      <a class="btn gray">Cancel</a>
    </div>
  </div>
</div>

<script>
  Kooboo.loadJS([
    "/_Admin/Scripts/lib/uuidv3.min.js",
    "/_Admin/Scripts/Kooboo/Guid.js",
    "/_Admin/Scripts/components/kb-media-dialog.js",
    "/_Admin/Scripts/kooboo-web-editor/richEditor.min.js",
    "/_Admin/Scripts/components/tinymceMonaco/plugin.min.js",
    "/_Admin/Scripts/components/ECommerce/kb-options-editor.js",
    "/_Admin/Scripts/components/ECommerce/kb-rule-editor.js",
    "/_Admin/Scripts/lib/bootstrap-switch/bootstrap-switch.min.js",
    "/_Admin/Scripts/components/kbSwitch.js",
  ]);

  Kooboo.loadCSS([
    "/_Admin/Scripts/lib/bootstrap-switch/bootstrap-switch.min.css",
  ]);
</script>
<script src="/_Admin/View/ECommerce/Promotion.js"></script>
