<!-- #layout name=default -->
<style>
  #category_tree {
    padding: 10px 0;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    max-height: 460px;
    overflow-y: auto;
  }

  .category-list,
  .sub-category-list {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;
  }

  .sub-category-list {
    padding-left: 30px;
  }

  .sub-category-list li {
    position: relative;
  }

  .sub-category-list li::before {
    content: "";
    width: 15px;
    height: 21px;
    background-image: url(/_Admin/Styles/images/jstree.png);
    background-position: -79px -2px;
    position: absolute;
    left: -23px;
    top: -3px;
  }

  .tree-checkbox label {
    cursor: pointer;
    margin-bottom: 6px;
  }

  .tree-checkbox label .icon {
    width: 22px;
    height: 15px;
    background-image: url(/_Admin/Styles/images/jstree.png);
    background-position: -169px -9px;
    display: inline-block;
    position: relative;
    top: 2px;
  }

  .tree-checkbox label.checked .icon {
    background-position: -233px -9px;
  }

  .tree-checkbox label input[type="checkbox"] {
    display: none;
  }

  .selected-cates-container {
    border: 1px solid #e5e5e5;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    padding: 6px 6px;
    height: 32px;
  }

  .selected-cates-container span.cate {
    padding: 2px 4px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    cursor: default;
    margin-right: 3px;
    user-select: none;
  }
</style>
<div id="main" class="">
  <div class="col-md-8 col-md-offset-2">
    <fieldset class="">
      <legend>
        <div class="pull-left">Promotion info</div>
      </legend>

      <div class="form-horizontal">
        <kb-form :model="model" :rules="rules" ref="form">
          <kb-form-item prop="name">
            <label class="col-md-3">Promotion rule name</label>
            <div class="col-md-9">
              <input
                class="form-control"
                type="text"
                placeholder="Promotion rule name"
                v-model="model.name"
              />
            </div>
          </kb-form-item>

          <kb-form-item prop="isActive">
            <label class="col-md-3">Is enable</label>
            <div class="col-md-9">
              <kb-switch v-model="model.isActive"></kb-switch>
            </div>
          </kb-form-item>

          <kb-form-item prop="canCombine">
            <label class="col-md-3">Can combine</label>
            <div class="col-md-9">
              <kb-switch v-model="model.canCombine"></kb-switch>
            </div>
          </kb-form-item>

          <kb-form-item prop="activeBasedOnDates">
            <label class="col-md-3">Active based on dates</label>
            <div class="col-md-9">
              <kb-switch v-model="model.activeBasedOnDates"></kb-switch>
            </div>
          </kb-form-item>

          <div v-if="model.activeBasedOnDates">
            <kb-form-item prop="startDate">
              <label class="col-md-3">Start time</label>
              <div class="col-md-9">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Start time"
                  v-model="model.startDate"
                  v-kb-datetimepicker
                  readonly
                />
              </div>
            </kb-form-item>

            <kb-form-item prop="endDate">
              <label class="col-md-3">End time</label>
              <div class="col-md-9">
                <input
                  class="form-control"
                  type="text"
                  placeholder="End time"
                  v-model="model.endDate"
                  v-kb-datetimepicker
                  readonly
                />
              </div>
            </kb-form-item>
          </div>

          <kb-form-item prop="ruleType">
            <label class="col-md-3">select promotion rule types</label>
            <div class="col-md-9">
              <select class="form-control" v-model="model.ruleType">
                <option
                  v-for="item in ruleTypes"
                  :key="item.value"
                  :value="item.value"
                  >{{ item.text }}</option
                >
              </select>
            </div>
          </kb-form-item>

          <kb-form-item
            v-if="model.ruleType==='ByTotalAmount'"
            prop="priceAmountReached"
          >
            <label class="col-md-3">price amount reached</label>
            <div class="col-md-9">
              <input
                class="form-control"
                type="number"
                v-model.number="model.priceAmountReached"
              />
            </div>
          </kb-form-item>

          <kb-form-item v-if="model.ruleType==='ByProductCategory'">
            <label class="col-md-3">Category</label>
            <div class="col-md-9">
              <div class="input-group">
                <div class="selected-cates-container">
                  <span
                    class="cate"
                    v-for="($data, index) in selectedCategories"
                    :key="index"
                    >{{ $data.name }}</span
                  >
                </div>
                <span class="input-group-btn">
                  <button class="btn blue" @click="onShowCategoriesModal"
                    >Select</button
                  >
                </span>
              </div>
            </div>
          </kb-form-item>

          <kb-form-item prop="promotionMethod">
            <label class="col-md-3">select promotion method</label>
            <div class="col-md-9">
              <select class="form-control" v-model="model.promotionMethod">
                <option
                  v-for="item in promotionMethods"
                  :key="item.value"
                  :value="item.value"
                  >{{ item.text }}</option
                >
              </select>
            </div>
          </kb-form-item>

          <kb-form-item v-if="model.promotionMethod==0" prop="amount">
            <label class="col-md-3">reduction amount</label>
            <div class="col-md-9">
              <input
                class="form-control"
                type="number"
                v-model.number="model.amount"
              />
            </div>
          </kb-form-item>

          <kb-form-item  v-if="model.promotionMethod==1" prop="percent">
            <label class="col-md-3">price percent</label>
            <div class="col-md-9">
              <div class="input-group">
                <input
                  class="form-control"
                  type="number"
                  v-model.number="model.percent"
                />
                <div class="input-group-addon">%</div>
              </div>
            </div>
          </kb-form-item>
        </kb-form>
      </div>
    </fieldset>
  </div>
  <kb-media-dialog
    :data.sync="mediaDialogData"
    :multiple="multipleMedia"
  ></kb-media-dialog>
  <div
    v-kb-modal="showCategoriesModal"
    class="modal fade"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" @click="onHideCategoriesModal"
            ><i class="fa fa-close"></i
          ></button>
          <h4 class="modal-title">Category</h4>
        </div>
        <div class="modal-body">
          <div id="category_tree" v-if="categories.length">
            <ul class="category-list">
              <li v-for="($data, index) in categories" :key="index">
                <product-category :category="$data"></product-category>
              </li>
            </ul>
          </div>
          <p v-else class="form-control-static"
            >You don't have a category yet.</p
          >
        </div>
        <div class="modal-footer">
          <button class="btn green" @click="onSaveCategoriesModal">Save</button>
          <button class="btn gray" @click="onHideCategoriesModal"
            >Cancel</button
          >
        </div>
      </div>
    </div>
  </div>

  <div class="page-buttons">
    <div v-if="!isNew" class="btn-group dropup">
      <button @click="onSaveAndReturn" class="btn green" style="margin: 0;"
        >Save &amp; Return</button
      >
      <a
        class="btn green dropdown-toggle"
        data-toggle="dropdown"
        style="margin: 0; min-width: auto;"
      >
        <i class="fa fa-angle-up"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="javascript:;" @click="onSave">Save</a>
        </li>
      </ul>
    </div>
    <button v-else @click="onSave" class="btn green">Save</button>
    <a :href="typesUrl" class="btn gray">Cancel</a>
  </div>
</div>
<script>
  Kooboo.loadJS([
    "/_Admin/Scripts/Kooboo/Guid.js",
    "/_Admin/Scripts/components/kbMultilangSelector.js",
    "/_Admin/Scripts/components/kbFieldPanel.js",
    "/_Admin/Scripts/components/ECommerce/kbCommerceSpec.js",
  ]);
</script>
<script src="/_Admin/View/ECommerce/Promotion.js"></script>

<script type="text/x-template" id="category-template">
  <div class="tree-checkbox">
      <label :class="{checked: category.selected }">
          <i class="icon"></i>
          <input type="checkbox" v-model="category.selected">
          {{ category.name }}
      </label>
      <ul v-if="category.subCats.length" class="sub-category-list">
          <li v-for="(subCate, index) in category.subCats" :key="index">
            <product-category :category="subCate"></product-category>
          </li>
      </ul>
  </div>
</script>
