<div>
  <div
    style="
      display: flex;
      align-items: center;
      margin: 0;
      padding-bottom: 5px;
      cursor: pointer;
    "
    v-for="item in list"
    @click="$emit('input',item.id)"
  >
    <input
      name="consignee"
      type="radio"
      :checked="value==item.id"
      style="margin: 5px 10px"
    />

    <span style="flex: 1">
      {{`${item.name} ${item.phone} ${item.county} ${item.state} ${item.city}
      ${item.address}`}}
    </span>

    <button class="btn green" @click.stop="edit(item.id)">Edit</button>
    <button class="btn red" @click.stop="Delete(item.id)">Delete</button>
  </div>

  <button class="btn" @click="add">Add</button>

  <kb-consignee-modal v-model="showModal"> </kb-consignee-modal>
</div>
