<div
  v-kb-modal="show"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="fasle"
>
  <div class="modal-dialog" style="width: 50%">
    <div class="modal-content">
      <div class="modal-header">
        <button @click="show=false" class="close">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Select</h4>
      </div>
      <div class="modal-body" v-if="show">
        <kb-table v-if="list" :data="list">
          <kb-table-column :label="Kooboo.text.common.title">
            <template v-slot="row"> {{row.title}} </template>
          </kb-table-column>

          <kb-table-column :label="Kooboo.text.common.type">
            <template v-slot="row"> {{row.typeName}} </template>
          </kb-table-column>

          <kb-table-column :label="Kooboo.text.commerce.stock">
            <template v-slot="row">
              {{row.items.map(m=>m.stock).reduce((a,b)=>a+b)}}
            </template>
          </kb-table-column>

          <kb-table-column :label="Kooboo.text.commerce.sales">
            <template v-slot="row">
              {{row.items.map(m=>m.sale).reduce((a,b)=>a+b)}}
            </template>
          </kb-table-column>

          <kb-table-column
            :label="Kooboo.text.commerce.status"
            width="50px"
            align="center"
          >
            <template v-slot="row">
              <span
                class="label green"
                :class="row.enable?'green':'gray'"
                style="cursor: pointer"
              >
                <template v-if="row.enable">In stock</template>
                <template v-else>Drop off</template>
              </span>
            </template>
          </kb-table-column>
        </kb-table>
      </div>
      <div class="modal-footer">
        <kb-pager
          :page-nr="pager.pageNr"
          :total-pages="pager.totalPages"
          @change="changePage"
          style="float: left"
          :no-margin="true"
        ></kb-pager>
        <button class="btn green" @click="save" v-if="selected">Save</button>
        <button @click="show=false" class="btn gray">Cancel</button>
      </div>
    </div>
  </div>
</div>
