<div
  v-kb-modal="show"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="fasle"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button @click="show=false" class="close">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">
          <template v-if="isEdit">Edit</template>
          <template v-else>Create</template>
        </h4>
      </div>
      <div class="modal-body" v-if="show&&editData">
        <kb-form :model="editData">
          <kb-form-item prop="name">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <input
                class="form-control"
                v-model="editData.name"
                v-kb-hint="validateModel.name.msg"
              />
            </div>
          </kb-form-item>
          <kb-form-item>
            <label class="col-sm-3 control-label">Attributes</label>
            <div class="col-sm-9">
              <div
                v-for="(item) in editData.attributes"
                :key="item.id"
                style="margin-bottom: 5px"
              >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    v-model="item.name"
                    v-kb-hint="validateModel[item.id].msg"
                  />
                  <span class="input-group-addon">:</span>
                  <select
                    class="form-control"
                    v-model="item.type"
                    :disabled="!!editData.productCount"
                    @change="item.options=[]"
                  >
                    <option value="Text">Text</option>
                    <option value="Option">Options</option>
                  </select>
                  <span
                    class="input-group-addon"
                    style="cursor: pointer"
                    @click="editData.attributes=editData.attributes.filter(f=>f!=item)"
                    v-if="!editData.productCount"
                  >
                    <i class="fa fa-minus" style="margin-top: 4px"></i>
                  </span>
                </div>
                <kb-options-editor
                  ref="optionsEditors"
                  :has-dependent="editData.productCount"
                  v-if="item.type=='Option'"
                  :list.sync="item.options"
                  style="border: 1px solid #e5e5e5; border-top: 0; padding: 5px"
                />
              </div>
              <button
                class="btn"
                @click="addItem(editData.attributes)"
                v-if="!editData.productCount"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </kb-form-item>
          <kb-form-item>
            <label class="col-sm-3 control-label">Specifications</label>
            <div class="col-sm-9">
              <div
                v-for="(item,index) in editData.specifications"
                :key="item.index"
                style="margin-bottom: 5px"
              >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    v-model="item.name"
                    v-kb-hint="validateModel[item.id].msg"
                  />
                  <span class="input-group-addon">:</span>
                  <select
                    class="form-control"
                    v-model="item.type"
                    :disabled="!!editData.productCount"
                    @change="item.options=[]"
                  >
                    <option value="Text">Text</option>
                    <option value="Option">Options</option>
                  </select>
                  <span
                    class="input-group-addon"
                    style="cursor: pointer"
                    @click="editData.specifications=editData.specifications.filter(f=>f!=item)"
                    v-if="!editData.productCount"
                  >
                    <i class="fa fa-minus" style="margin-top: 4px"></i>
                  </span>
                </div>
                <kb-options-editor
                  ref="optionsEditors"
                  :has-dependent="editData.productCount"
                  v-if="item.type=='Option'"
                  :list.sync="item.options"
                  style="border: 1px solid #e5e5e5; border-top: 0; padding: 5px"
                />
              </div>
              <button
                class="btn"
                @click="addItem(editData.specifications)"
                v-if="!editData.productCount"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </kb-form-item>
        </kb-form>
      </div>
      <div class="modal-footer">
        <button class="btn green" @click="save">Save</button>
        <button @click="show=false" class="btn gray">Cancel</button>
      </div>
    </div>
  </div>
</div>
