<div
  v-kb-modal="show"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="fasle"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button @click="show=false" class="close">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Specifications</h4>
      </div>
      <div class="modal-body" v-if="show">
        <kb-table
          :data="list"
          :show-select="true"
          :selected.sync="selectedRows"
          :multi-select="false"
        >
          <kb-table-column label="Product name" prop="productName">
          </kb-table-column>
          <kb-table-column label="Specifications">
            <template v-slot="row">
              {{ row.specifications.map(m=>`[${m.key}:${m.value}]`).join(' ') }}
            </template>
          </kb-table-column>
          <kb-table-column label="Stock" prop="stock"></kb-table-column>
        </kb-table>
      </div>
      <div class="modal-footer">
        <button class="btn green" @click="save" v-if="selectedRows.length"
          >Save</button
        >
        <button @click="show=false" class="btn gray">Cancel</button>
      </div>
    </div>
  </div>
</div>
