<div
  v-kb-modal="show"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="fasle"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button @click="show=false" class="close">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Select</h4>
      </div>
      <div class="modal-body" v-if="show">
        <kb-table
          :data="list"
          :show-select="true"
          :selected.sync="selectedRows"
          :show-header="showHeader"
          :multi-select="multiSelect"
          style="cursor: pointer"
        >
          <template v-for="(item,index) in cols">
            <kb-table-column :label="item" :prop="item"> </kb-table-column>
          </template>
        </kb-table>
      </div>
      <div class="modal-footer">
        <button class="btn green" @click="save">Save</button>
        <button @click="show=false" class="btn gray">Cancel</button>
      </div>
    </div>
  </div>
</div>
