<div
  v-kb-modal="show"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="fasle"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button @click="show=false" class="close">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Authorize</h4>
      </div>
      <div class="modal-body" v-if="show&&model">
        <template v-if="!securities.length">
          <span>Empty</span>
        </template>
        <template v-for="security in securities">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{security.name}} ( {{getTypeDisplay(security)}} )
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <template v-if="security.type=='http'">
                  <template v-if="getScheme(security.value)=='basic'">
                    <div class="form-group">
                      <label class="control-label col-md-3">Username</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security.name).username"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">Password</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          type="password"
                          v-model="getData(security.name).password"
                        />
                      </div>
                    </div>
                  </template>
                  <template v-if="getScheme(security.value)=='bearer'">
                    <div class="form-group">
                      <label class="control-label col-md-3">Bearer</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security.name).token"
                        />
                      </div>
                    </div>
                  </template>
                </template>

                <template v-if="security.type=='apiKey'">
                  <div class="form-group">
                    <label class="control-label col-md-3"
                      >{{security.value.name}}</label
                    >
                    <div class="col-md-9">
                      <input
                        class="form-control"
                        v-model="getData(security.name).token"
                      />
                    </div>
                  </div>
                </template>

                <template v-if="security.type=='oauth2'">
                  <div
                    class="alert alert-success"
                    role="alert"
                    v-if="getFlow(security.value).name='authorizationCode '"
                  >
                    Redirect url : {{getData(security.name).redirectUrl}}
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3">Client id</label>
                    <div class="col-md-9">
                      <input
                        class="form-control"
                        v-model="getData(security.name).clientId"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3">Client secret</label>
                    <div class="col-md-9">
                      <input
                        class="form-control"
                        type="password"
                        v-model="getData(security.name).clientSecret"
                      />
                    </div>
                  </div>
                  <div
                    style="text-align: center"
                    v-if="getFlow(security.value).name='authorizationCode '"
                  >
                    <button class="btn green" @click="challenge(security)"
                      >Save and challenge</button
                    >
                  </div>
                </template>
              </div>
            </div>
          </div>
        </template>
      </div>
      <div class="modal-footer">
        <button class="btn green" @click="save" v-if="securities.length"
          >Save</button
        >
        <button @click="show=false" class="btn gray">Cancel</button>
      </div>
    </div>
  </div>
</div>
