<div
  v-kb-modal="show"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="fasle"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button @click="show=false" class="close">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Authorize</h4>
      </div>
      <div class="modal-body" v-if="show&&model">
        <template v-for="security in securities">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{security.name}} ( {{getTypeDisplay(security)}} )
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <template v-if="security.type=='http'">
                  <template v-if="getScheme(security.value)=='basic'">
                    <div class="form-group">
                      <label class="control-label col-md-3">Username</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).username"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">Password</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).password"
                        />
                      </div>
                    </div>
                  </template>
                  <template v-if="getScheme(security.value)=='bearer'">
                    <div class="form-group">
                      <label class="control-label col-md-3">name</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          placeholder="(optional) default 'Bearer'"
                          v-model="getData(security).name"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">Bearer</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).accessToken"
                        />
                      </div>
                    </div>
                  </template>
                </template>

                <template v-if="security.type=='apiKey'">
                  <div class="form-group">
                    <label class="control-label col-md-3"
                      >{{security.value.name}}</label
                    >
                    <div class="col-md-9">
                      <input
                        class="form-control"
                        v-model="getData(security).accessToken"
                      />
                    </div>
                  </div>
                </template>

                <template v-if="security.type=='oauth2'">
                  <div
                    class="alert alert-success"
                    role="alert"
                    v-if="getFlow(security.value).name=='authorizationCode'"
                  >
                    Redirect url : {{getData(security).redirectUrl}}
                  </div>
                  
                  <div class="form-group">
                    <label class="control-label col-md-3">Client id</label>
                    <div class="col-md-9">
                      <input
                        class="form-control"
                        v-model="getData(security).clientId"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3">Client secret</label>
                    <div class="col-md-9">
                      <input
                        class="form-control"
                        v-model="getData(security).clientSecret"
                      />
                    </div>
                  </div>

                  <template v-if="getData(security).manual">
                    <div class="form-group">
                      <label class="control-label col-md-3">name</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          placeholder="(Optional) default 'Bearer'"
                          v-model="getData(security).name"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">Access token</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).accessToken"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3"
                        >Refresh token</label
                      >
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).refreshToken"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">Expires in</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).expiresIn"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3"
                        >AuthorizationUrl</label
                      >
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).authorizationUrl"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">TokenUrl</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).tokenUrl"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">RefreshUrl</label>
                      <div class="col-md-9">
                        <input
                          class="form-control"
                          v-model="getData(security).refreshUrl"
                        />
                      </div>
                    </div>
                  </template>

                  <div style="text-align: center">
                    <button
                      class="btn green"
                      @click="challenge(security)"
                      v-if="getFlow(security.value).name=='authorizationCode'"
                      >Save and challenge</button
                    >
                    <button
                      class="btn green"
                      v-if="!getData(security).manual"
                      @click="setManual(security)"
                      >Manual input</button
                    >
                  </div>
                </template>
              </div>
            </div>
          </div>
        </template>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>Custom Authorization</span>
            ( <span>Optional</span> )
          </div>
          <div class="panel-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-3">Action name</label>
                <div class="col-md-9">
                  <select
                    v-model="model.customAuthorization"
                    class="form-control"
                  >
                    <option
                      v-for="item in authorizationCodes"
                      :key="item.name"
                      :value="item.name"
                      >{{ item.name }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn green" @click="save" v-if="securities.length"
          >Save</button
        >
        <button @click="show=false" class="btn gray">Cancel</button>
      </div>
    </div>
  </div>
</div>
