<div
  v-kb-modal="show"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="fasle"
>
  <div class="modal-dialog" style="min-width: 800px">
    <div class="modal-content">
      <div class="modal-header">
        <button @click="show=false" class="close">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title" v-if="id">Edit</h4>
        <h4 class="modal-title" v-else>Create</h4>
      </div>
      <div class="modal-body" v-if="show&&model">
        <kb-form :model="model" :rules="modelRules" ref="form">
          <kb-form-item prop="name">
            <label class="control-label col-md-3">Name</label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                v-model="model.name"
                :readonly="isEdit"
              />
            </div>
          </kb-form-item>

          <kb-form-item prop="url">
            <label class="control-label col-md-3">Base URL</label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                v-model="model.baseUrl"
                placeholder="(optional) http://domain.com/api"
              />
            </div>
          </kb-form-item>

          <kb-form-item v-if="!isEdit">
            <label class="control-label col-md-3">Type</label>
            <div class="col-md-9">
              <label class="radio-inline">
                <input
                  type="radio"
                  id="type"
                  value="url"
                  v-model="model.type"
                  @click="changeType('url')"
                />
                <span>URL</span>
              </label>
              <label class="radio-inline">
                <input
                  type="radio"
                  id="type"
                  value="file"
                  v-model="model.type"
                  @click="changeType('file')"
                />
                <span>File</span>
              </label>
              <label class="radio-inline">
                <input
                  type="radio"
                  id="type"
                  value="template"
                  v-model="model.type"
                  @click="changeType('template')"
                />
                <span>Template</span>
              </label>
            </div>
          </kb-form-item>

          <template v-if="model.type=='url'">
            <kb-form-item prop="url">
              <label class="control-label col-md-3">Remote URL</label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  v-model="model.url"
                  placeholder="https://generator3.swagger.io/openapi.json"
                />
              </div>
            </kb-form-item>
          </template>

          <template v-if="model.type=='file'">
            <kb-form-item>
              <label class="control-label col-md-3"></label>
              <div class="col-md-9">
                <template v-if="model.type=='file'">
                  <a class="btn btn-default btn-file">
                    <input
                      type="file"
                      :accept="accept"
                      @input="selectedFile($event.target.files)"
                    />
                    <span>Select file</span>
                  </a>
                  <span>Support types: Json yaml</span>
                  <p style="max-height: 100px; overflow-y: auto"
                    >{{model.jsonData}}</p
                  >
                </template>
              </div>
            </kb-form-item>
          </template>

          <template v-if="model.type=='template'">
            <kb-form-item>
              <label class="control-label col-md-3"></label>
              <div class="col-md-9">
                <div>
                  <div
                    v-for="item in templates"
                    style="display: inline-block; margin: 0 5px 5px 0"
                  >
                    <button
                      class="btn"
                      :class="{green:getTemplateUrl(item._id)==model.url}"
                      @click="selectTemplate(item)"
                      >{{item.name}}</button
                    >
                  </div>
                </div>
                <div
                  class="alert alert-warning"
                  role="alert"
                  v-if="selectedTemplate&&selectedTemplate.description"
                  style="margin-top: 10px; white-space: pre"
                  >{{selectedTemplate.description.trim()}}</div
                >
              </div>
            </kb-form-item>
          </template>

          <kb-form-item>
            <label class="control-label col-md-3">Cache</label>
            <div class="col-md-9">
              <div
                v-for="cache in model.caches"
                style="display: flex; margin-bottom: 5px"
              >
                <select
                  class="form-control"
                  v-model="cache.method"
                  style="width: 80px; margin-right: 5px"
                >
                  <option value="Get"> GET </option>
                  <option value="Put"> PUT </option>
                  <option value="Post"> POST </option>
                  <option value="Delete"> DELETE </option>
                  <option value="Options"> OPTIONS </option>
                  <option value="Head"> HEAD </option>
                  <option value="Patch"> PATCH </option>
                  <option value="Trace"> TRACE </option>
                  <option value="All"> ALL </option>
                </select>

                <input
                  class="form-control"
                  style="margin-right: 5px"
                  placeholder="Contains the matching example: '/user/list'"
                  v-model="cache.pattern"
                />
                <div
                  class="input-group"
                  style="width: 150px; margin-right: 5px"
                >
                  <input
                    type="number"
                    class="form-control"
                    v-model="cache.expiresIn"
                  />
                  <div class="input-group-addon">Minutes</div></div
                >
                <button
                  type="button"
                  class="btn red"
                  @click="model.caches=model.caches.filter(f=>f!=cache)"
                  ><i class="fa fa-minus"></i
                ></button>
              </div>
              <button type="button" class="btn blue" @click="addCache"
                ><i class="fa fa-plus"></i
              ></button>
            </div>
          </kb-form-item>
        </kb-form>
      </div>
      <div class="modal-footer">
        <button class="btn green" @click="save">Save</button>
        <button @click="show=false" class="btn gray">Cancel</button>
      </div>
    </div>
  </div>
</div>
